@tailwind base;
@tailwind components;
@tailwind utilities;



.img img{
    width: 100%;
    height: 200px;
}

.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}